<h1>welcome</h1>
<p>welcometo story app v1.0.0</p>
<p>Post stories and choose them to be read by the world or private only</p>
<a href="/auth/google/" class="btn red darken-1"><i class="fa fa-google left"></i> Login with Google</a>
